# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
# build/  (keep build/web for Railway deployment)

# Python
__pycache__/
*.pyc
venv/
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
